@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #1f2937;
  color: #d1d5db;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: #1d1d1d;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb {
  background: #737373;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background: #adadad;
}
